:root{
  --app-background:#e5e5e5;
  --blue:#005fc3;
  --darker-purple:#360040;
  --dark-purple:#642667;
  --light-purple:#88288A;
  --text-regular:#585858;
  --dark-blue:#00629B;
  --light-blue:#62B5E5;
  --link-blue:#0000FF;
  --link-blue-acc:#0056B3;
  --yellow:#FED141;
  --dark-green:#1D7732;
  --green:#488529;
  --light-green:#6cc24a;
  --dark-red:#912f46;
  --light-red:#CE0058;
  --dark-grey:#585858;
  --light-grey:#F5F5F5;
}
.text-green{
  color:var(--green);
}
:disabled{
  opacity:.5 !important;
  cursor:not-allowed !important;
}
/* TEMPORARY */
#wpadminbar, .bpress-sidebar, .ast-below-header-wrap{
  display:none;
}
/* PORTAL PAGE OVERRIDES */
.ast-main-header-wrap{
  width:100% !important;
  overflow-x:hidden;
}
.ast-below-header-bar .site-below-header-wrap{
  height:auto !important;
}
#pathwaycontainer h5{
  margin:0 !important;
}
#pathwaycontainer{
  -webkit-user-select:none !important;
  -moz-user-select:none !important;
  -ms-user-select:none !important;
  user-select:none !important; 
}
/* RESPONSIVE RULES */
@media only screen and (max-width:768px){
  #pathwaycontainer{
    width:auto !important;
    padding:1px 0em 1em 0em !important;
    margin-bottom:3em !important;
  }
  #pathwaynav{
    padding:0 10px;    
  }
  #sortable-list .checkmark{
    left:5px !important;
  }
  #sortable-list .accordion{
    margin-left:30px !important;
  }
  #dupeLink span{
    display:none !important;
  }
}
/* REQUIREMENTS */
#sortable-list .requirement{
  width:fit-content;
  color:white;
}
#sortable-list .concentration{
	background:var(--dark-purple);
}
#sortable-list .prereq{
	background:orange;
}
#sortable-list .university{
	background-image:linear-gradient(to left, var(--light-red), var(--dark-red));
}
#sortable-list .major, #sortable-list .major-elective{
	background-image:linear-gradient(to left, var(--light-purple), var(--dark-purple));
}
#sortable-list .elective, #sortable-list .free-elective{
	background-image:linear-gradient(to left, var(--light-green), var(--dark-green));
}
#sortable-list .english, #sortable-list .humanities, #sortable-list .ethics, #sortable-list .history, #sortable-list .science, #sortable-list .math, #sortable-list .science-or-math, #sortable-list .arts, #sortable-list .public-speaking, #sortable-list .nursing, #sortable-list .english, #sortable-list .statistics{
	background-image:linear-gradient(to left, var(--light-blue), var(--dark-blue));
}
/* CLEAR BUTTON STYLES */
#pathwaycontainer button{
  all:initial;
  font:inherit;
  color:inherit;
}
/* CONTAINER */
#pathwaycontainer{
  font-size:16px;
  width:600px;
  margin:auto;
  background:var(--app-background);
  padding:1px 1em 1em 1em;
}
#pathwaycontainer ul{
  list-style:none;
  padding-left:0;
  margin:0;
}
/* NAVIGATION */
#pathwaynav nav ul{
  display:flex;
  justify-content:space-between;
}
#pathwaynav ul li ul{
  display:none;
}
#toggleCourseVisibilityContainer label, #jumpToYearContainer{
  font-weight:bold;
}
#pathwaynav{
  background:var(--app-background);
  position:-webkit-sticky;
  position:sticky;
  top:0;
  z-index:1;
  height:35px;
  width:100%;
}
#pathwaycontainer #dupeLink, #pathwaycontainer #resetPathway button, #pathwaycontainer .button, #jumpToYearContainer button, #toggleCourseVisibilityContainer label, #toggleCourseVisibility, #sortable-list .course label, #sortable-list .course button{
  cursor:pointer !important;
}
#pathwaycontainer .sticky-shadow{
  box-shadow:0 8px 6px -6px black;
}
/* JUMP TO YEAR */
#jumpToYearContainer ul{
  display:none;
  position:absolute;
  margin-top:5px;
  margin-left:7px;
  padding:10px;
  background:var(--app-background);
  border:1px solid #ccc;
}
#jumpToYearContainer ul li a{
  text-decoration:none;
  color:initial;
}
#jumpToYearContainer ul.show{
  display:block;
}
#jumpToYearContainer{
  float:left;
  position:relative;
}
/* LIST UTILITIES */
#pathwaycontainer li{
  position:relative;
  padding:5px;
}
/* TERM STYLING */
#sortable-list .term:first-of-type i{
  opacity:0;
}
#sortable-list .term i:nth-of-type(odd), #sortable-list .term i:nth-of-type(even){
  position:absolute;
  left:.75em;
}
#sortable-list .term i:nth-of-type(odd){
  top:5px;
}
#sortable-list .term i:nth-of-type(even){
  bottom:5px;
}
#pathwaycontainer .term{
  background-image:linear-gradient(to left, var(--dark-purple), var(--light-purple));
  color:white;
  text-align:center;
  cursor:grab;
  padding:.75em;
  margin:.5em 0;
}
#pathwaycontainer .term:first-of-type{
  cursor:default;
}
/* COURSE STYLING */
#sortable-list .course-name, #sortable-list .courseid{
  font-weight:bold;
}
/* ACCORDION STYLING */
#sortable-list .accordion{
  margin-left:45px;
}
#sortable-list .accordion-item button i{
  position:absolute;
  right:15px;
  top:20px;
}
#sortable-list .accordion-item{
  position:relative;
}
#sortable-list .accordion-button::after{
  display:none;
}
#sortable-list .accordion, #sortable-list .accordion-item > button{
  width:100% !important;
}
#sortable-list .course .accordion-button, #sortable-list .course .options{
  display:flex;
  align-self:flex-start !important;
}
#sortable-list .course label span:hover, #sortable-list .accordion:hover, #sortable-list .options:hover{
  box-shadow:0 0 2px 1px var(--light-purple);
}
#sortable-list .course, #sortable-list label{
  display:flex;
  flex-wrap:wrap;
}
#sortable-list .courseid{
  color:white;
  justify-content:center;
  text-align:center;
  min-width:105px;
  padding:1em;
}
#sortable-list .course-name{
  padding:.5em;
  line-height:1.25em;
  align-self:center;
  text-align:left;
  width:100%;
  padding-right:40px !important;
}
/* DUPES */
#dupeLink, #dupe-notification {
  height:100% !important;
}
#sortable-list .dupe .course-info{
  background:var(--light-red) !important;
  color: white !important;
}
#pathwaycontainer .fa-road{
  color:var(--blue);
}
#dupeLink i {
  color:var(--light-red) !important;
  position:absolute !important;
  top:13px !important;
}
#dupeLink span {
  color:var(--light-red) !important;
  margin-left:1.25em !important;
}
#sortable-list .options-list .dupe-alert{
  position:absolute;
  top:10px;
}
#sortable-list .options-list .alert .dupe-alert{
  top:50px;
}
/* COURSE OPTIONS/ALTERNATIVES MODAL STYLING */
#sortable-list .options-list .modal-content{
  max-height:80% !important;
}
#sortable-list .options-list li{
  line-height:initial !important;
  padding-left:0 !important;
  position:relative;
}
#sortable-list .alert .options-container{
  margin-right:0 !important;
}
#sortable-list .options-container{
  justify-content:space-between;
  display:flex;
  margin-left:1.5em;
  margin-right:1.1em;
}
#sortable-list .options-list button .fa-plus, #sortable-list .accordion button .fa-plus{
    transition:transform 0.3s ease-in-out;
    transform:rotate(0deg);
}
#sortable-list .options-list button[aria-expanded="true"] .fa-plus, #sortable-list .accordion button[aria-expanded="true"] .fa-plus{
    transform:rotate(45deg);
}
#sortable-list .options-list button[aria-expanded="false"] .fa-plus, #sortable-list .accordion button[aria-expanded="false"] .fa-plus{
    transform:rotate(0deg);
}
/* Create the checkmark/indicator (hidden when not checked) */
#sortable-list .checkmark:after{
  content:'';
  position:absolute;
  display:none;
}
/* Show the checkmark when checked */
#sortable-list input:checked ~ .checkmark:after{
  display:block;
}
/* Style the checkmark/indicator */
#sortable-list .checkmark:after{
  left:1px;
  top:-12px;
  content:'\f00c';
  font-family:FontAwesome;
  font-size:1.75em;
  color:var(--dark-purple);
}
#sortable-list .checkmark{
  background:var(--app-background);
  position:absolute;
  top:27px;
  left:15px;
  height:20px;
  width:20px;
  border:2px solid black;
}
#sortable-list input{
  opacity:0;
  height:0;
  width:0;
}
#sortable-list label{
  margin-left:40px;
}
/* COURSE DETAILS */
#sortable-list .course-details{
  text-align:left;
}
#sortable-list .course-pre-cred{
  display:flex;
  margin-top:1em;
}
#sortable-list .prerequisites{
  margin-right:3em;
  max-width:60%;
}
#sortable-list .prerequisites strong, #sortable-list .credit-hours strong{
  color:var(--green);
}
/* COURSE:OPTIONS AVAILABLE */
#sortable-list .options{
  display:block !important;
  margin-top:3px !important;
  margin-right:.5em !important;
  width:100% !important;
  background:none !important;
  color:black !important;
  text-align:right !important;
  line-height:1.25em;
}
#sortable-list .options i{
  top:10px !important;
  display:contents !important;
}
#pathwaycontainer .course{
  transition:opacity 0.5s, visibility 0.5s;
  opacity:1;
  height:100%;
  visibility:visible;
}
/* COURSE HIDE ANIMATION */
#pathwaycontainer .course.hidden{
  visibility:hidden;
  padding:0 !important;
  opacity:0;
  height:0;
  overflow:hidden;
  transition:opacity .5s, visibility .5s, height .5s, padding .5s; /* Delay collapsing the height */
}
/* MODAL STYLING */
#pathwaycontainer .modal-header, #pathwaycontainer .modal-title, #pathwaycontainer .modal-footer{
  background:var(--dark-purple);
  color:white !important;
}
#pathwaycontainer .modal-header button span{
  font-size:2em;
  padding-top:15px;
  line-height:0;
}
/* BUTTON */
#pathwaycontainer .button{
	width:fit-content;
	background:var(--light-red);
	padding:1em;
	line-height:1.25;
	border:none;
	border-radius:.25em;
	display:inline-block;
	color:white !important;
	text-align:center;
	margin:1em auto;
	text-decoration:none !important;
}
#pathwaycontainer .button:hover{
	color:white !important;
	background-color:var(--light-purple) !important;
}
#pathwaycontainer .button:is(:focus, :active){
	outline:2px solid var(--light-blue);
}
/* FLASH ANIMATION */
#pathwaycontainer .flash-animation{
  animation:flash 0.5s ease-out;
}
@keyframes flash{
  0%{ background-color:yellowgreen; }
  100%{ background-color:transparent; }
}
