:root{
    --bright-purple:#a51ca8;
}
/* OVERRIDES */
#pathwaycontainer ul li::before{
    all:inherit !important;
}
/* COLUMN LAYOUT */
@media only screen and (min-width: 990px) {
    #pathwaycontainer .year-container{
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        gap:1.5em;
    }
}
@media only screen and (max-width: 989px) {
    #pathwaycontainer .term:not(:first-of-type){
        padding-top:1em;
    }
}
#pathwaycontainer strong{
    color:inherit !important;
}
/* Concentration Dropdown Select */
#pathways{
    border-radius:0.25em;
    color:var(--dark-purple);
    background:#C8E3F4;
    font-size:130%;
}
/* REQUIREMENTS */
#accordionPathway .requirement{
    width:fit-content;
    color:white;
}
#accordionPathway .concentration{
    background:var(--dark-purple);
}
#accordionPathway .prereq{
    background:orange;
}
#accordionPathway .university{
    background-image:linear-gradient(to left, var(--light-red), var(--dark-red));
}
#accordionPathway .major, #accordionPathway .major-elective{
    background-image:linear-gradient(to left, var(--light-purple), var(--bright-purple));
}
#accordionPathway .elective, #accordionPathway .free-elective, #accordionPathway .arts{
    background-image:linear-gradient(to left, var(--light-green), var(--dark-green));
}
#accordionPathway .general, #accordionPathway .english, #accordionPathway .sociology, #accordionPathway .math, #accordionPathway .science-or-math, #accordionPathway .public-speaking, #accordionPathway .nursing, #accordionPathway .english, #accordionPathway .statistics{
    background-image:linear-gradient(to left, var(--light-blue), var(--dark-blue));
}
/* REQUIREMENTS KEY */
#pathway-key{
    width:fit-content;
}
/* LIST */
#pathwaycontainer ul{
    list-style:none;
    padding-left:0;
    margin:0;
}
#pathwaycontainer ul li{
    margin-top:0 !important;
}
#pathwaycontainer .courseid{
    margin-left:-4px;
}
/* FONTS */
#pathwaycontainer .course-name, #pathwaycontainer .courseid{
    font-weight:bold;
}
/* COURSE ACCORDION STYLING */
#pathwaycontainer button{
    border:none !important;
}
#pathwaycontainer .accordion-button{
    background:white;
}
#pathwaycontainer .course{
    margin-bottom:.5em;
}
#pathwaycontainer .course:last-of-type{
    margin-bottom:0;
}
#pathwaycontainer .accordion-body{
    background:white;padding:1em;
}
#pathwaycontainer .accordion-item button i{
    position:absolute;
    right:15px;
    top:20px;
}
#pathwaycontainer .accordion-item{
    position:relative;
}
#pathwaycontainer .accordion-button::after{
    display:none;
}
#pathwaycontainer .accordion, #pathwaycontainer .accordion-item > button{
    width:100% !important;
}
#pathwaycontainer .course .accordion-button, #pathwaycontainer .course .options{
    display:flex;
    align-self:flex-start !important;
}
#pathwaycontainer .course label span:hover, #pathwaycontainer .accordion:hover, #pathwaycontainer .options:hover{
    box-shadow:0 0 2px 1px var(--light-purple);
}
#pathwaycontainer .course, #pathwaycontainer label{
    display:flex;
    flex-wrap:wrap;
} 
#pathwaycontainer .courseid{
    color:white;
    justify-content:center;
    text-align:center;
    min-width:105px;
    padding:1em;
  }
  #pathwaycontainer .course-name{
    background:white;
    padding:.5em;
    line-height:1.25em;
    align-self:center;
    text-align:left;
    width:100%;
    padding-right:40px !important;
}
/* COURSE DETAILS */
#pathwaycontainer .course-details{
    text-align:left;
}
#pathwaycontainer .course-pre-cred{
  display:flex;
  margin-top:1em;
}
#pathwaycontainer .prerequisites{
  margin-right:3em;
  max-width:60%;
}
#pathwaycontainer .prerequisites strong, #pathwaycontainer .credit-hours strong{
  color:var(--green) !important;
}
/* ICON ANIMATION */
#pathwaycontainer .accordion button .fa-plus{
    transition:transform 0.3s ease-in-out;
    transform:rotate(0deg);
}
#pathwaycontainer .accordion button[aria-expanded="true"] .fa-plus{
    transform:rotate(45deg);
}
#pathwaycontainer .accordion button[aria-expanded="false"] .fa-plus{
    transform:rotate(0deg);
}
/* YEAR CONTAINERS */
#pathwaycontainer .year-container-shell{
    margin-top:1em;
}
#pathwaycontainer .year-container-shell > .accordion-item  > button{
    background:var(--dark-purple);
    color:white;
}
#pathwaycontainer .year-container-shell > .accordion-item > button > i{
    top:22px !important;
    right:9px !important;
}
/* FADE */
.fade-in{
    opacity:0;
    transition:opacity 1s ease-in;
}
.fade-in.show{
    opacity:1;
}